<section id="showcase">
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner"  role="listbox">
      <div   class="carousel-item carousel-image-1 active">
        <div class="container"><h1 class="display-3 text-center mt-5 text-light">Food Diary - Log Your Food!</h1>
          <div class="carousel-caption d-none d-sm-block mb-5 ">
            <p class="lead   ">You can add foods from our database and track your calories. </p>
            <a  href="#!singup"  class="btn btn-success btn-lg">Sign Up Now!</a>
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-2">
        <div class="container">
          <div class="carousel-caption d-none text-right d-sm-block mb-5">
            <h1 class="display-3 text-danger ">Recepies</h1>
            <p class="lead text-danger">Discover  best healthy recipes </p>
            <a  class="btn btn-danger btn-lg" href="#!recepies" >Start Cooking</a>
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-3">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-left mb-5">
            <h1 class="display-3">Calculators</h1>
            <p class="lead">Find out Your BMI index ideal weight and calorie needs.</p>
            <a href="#!calculators" class="btn btn-primary btn-lg">Calculate</a>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
</section>
      